http://localhost {
  proxy / http://web:4000 {
    header_upstream Host {host}
    header_upstream X-Real-IP {x-real-ip}
    header_upstream X-Forwarded-For {x-forwarded-for}
    header_upstream X-Forwarded-Proto {x-forwarded-proto}
    websocket
  }
  log / stdout
}
